body{font-size: 16px;}
body .content{
    background-image: url('img/fundo.jpg'); 
    background-repeat: no-repeat;
    background-size:100%;
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}
header .logo{
    max-width: 180px;
    padding: 5px 0 0 10px;
    float: left;
    
}
.header-nav ul li{
    float: left;
    width: 200px;
    height: 40px;
    display: inline-block;    
    text-align: center;
    line-height: 40px;
    font-size:16px;
}
.header-nav ul li:hover{
  
}
.header-nav ul ul{
    display: none;
}
.header-nav ul li:hover > ul{
    display: block;
}

.header-nav ul li a{
    width: 100%;
    padding: 5px 0 5px;
    margin-top: 20px;
    margin-left:  80px;
}
header-nav .header-nav-login li a{
    width: 100%;
    padding: 5px 0 5px;
    margin-top: 20px;
    margin-left:  80px;
}
    
